$header-hight: 72px;

header {
    height: $header-hight;
    width: 100vw;
    
    .wapper {
        height: $header-hight;
        width: 100%;
        background-color: #0c3141;

        padding: 0 150px;

        position: fixed;
        top: 0;
        left: 0;
        z-index: $header;

        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .home {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: "";

                height: 100%;
                width: 100%;

                position: absolute;
                top: 0;
                left: 0;
            }
            img {
                height: 32px;
                width: 180px;
            }
        }

        nav {
            ul {
                height: 100%;

                display: flex;
                align-items: stretch;

                li {
                    margin: 0 20px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        height: 100%;
                        line-height: $header-hight;
                        overflow: hidden;

                        &:hover p {
                            color: rgba(255, 255, 255, 1);
                        }
                        &:hover p:before {
                            transform-origin: right top;
                            transform: scale(1);
                        }

                        p {
                            height: 100%;
                            color: rgba(255, 255, 255, 0.35);

                            position: relative;
                            transition: 0.2s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                            &:before {
                                content: "";
                                width: 100%;
                                height: 2px;
                                background: rgba(255, 255, 255, 0.3);

                                position: absolute;
                                bottom: 0;
                                left: 0;

                                transform: scaleX(0);
                                transform-origin: left top;
                                transition: 0.2s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}